.blog-section {
    background-color: var(--light);
    width: 100%;
    min-height: 100vh;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-link {
    display: block;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--secondary);
    margin: 10px 0;
}
.post-link h4 {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 10px 0 4px;
    color: var(--dark);
}
.post-link h4 i {
    color: var(--secondary);
    font-size: 0.7rem;
    margin-left: 8px;
}
.post-link p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0 0 12px;
}
.control {
    margin: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control-left {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#like-button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 100px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: border-color 200ms, background-color 200ms, color 200ms, box-shadow 200ms;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
#like-button:hover {
    background-color: var(--warning);
}
#like-button[liked] {
    background-color: var(--light);
    box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.08);
    color: var(--warning);
}
#like-button[liked]:hover {
    color: var(--secondary);
}

.markdown-body pre {
    position: relative;
    overflow: auto;
    counter-reset: line;
    transition: background-color 200ms ease-out;
}
.markdown-body .pre-wrapper {
    position: relative;
    margin: 20px 0;
    background-color: var(--light);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.03);
}
.markdown-body .pre-wrapper > .pre-title {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(84, 204, 228);
    border-radius: 6px 6px 0 0;
    height: 36px;
    color: var(--light);
}
.markdown-body .pre-wrapper > .pre-title > span {
    margin-left: 30px;
}
.markdown-body .pre-wrapper .copy-button {
    color: inherit;
    cursor: pointer;
    overflow: hidden;
    font-size: 1rem;
    margin-right: 10px;
    height: 28px;
    width: 28px;
    border: none;
    outline: none;
    border-radius: 1000px;
    background-color: transparent;
    transition: background-color 200ms ease-out, color 200ms ease-out;
}
.markdown-body .pre-wrapper  .copy-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.markdown-body pre > code {
    counter-increment: line;
}
.markdown-body pre > code::before {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    left: 0;
    text-align: right;
    color: #e1e1e1e0;
    content: counter(line);
    padding-right: 0.4rem;
    user-select: none;
}

.markdown-body pre[copied="true"]{
    background-color: rgba(0, 0, 0, 0.03);
}

.markdown-body pre[copied="true"]::after {
    position: absolute;
    content: "Copied";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.03);
    text-align: center;
    font-size: 1.6rem;
    color: white;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#password-input input[type="password"] {
    outline: none;
    border: none;
    padding: 6px 4px;
    border-radius: 6px;
    color: var(--secondary);
    border: 2px solid transparent;
    transition: border 100ms ease-out;
}
#password-input input[type="password"]:focus {
    border: 2px solid var(--accent);
}
#password-input input[type="submit"] {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    background-color: var(--accent);
    color: var(--light);
}

#post-info {
    font-weight: bold;
    padding: 20px 0 0px;
    font-size: 0.8rem;
    color: var(--secondary);
}
#post-info .separator {
    margin: 0 6px;
}
#post-info .license {
    color: var(--primary);
    text-decoration: none;
}
#post-info .license > i {
    margin-right: 3px;
}
#post-info .tag {
    background-color: var(--secondary);
    padding: 2px 8px;
    color: var(--light);
    border-radius: 99px;
    text-decoration: none;
    
}
#post-info .tag::before {
    content: "# ";
}